<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>BingeFlix</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
/>
    <link rel="stylesheet" type="text/css" href="../public/assets/css/myreviews.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    
  </head>

  <body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

      <a class="navbar-brand"></a>
  
      <ul>
        <li><button><a href="../views/index.html">Home</a></button></li>
        <li><button><a href="../views/reviews.html">Reviews</a></button></li>
        <li><button><a href="../views/myreviews.html">My Reviews</a></button></li>
        
      </ul>
    </nav>
  
    <div class="jumbotron jumbotron-fluid container3">
      <div class="container">
        <h1>BINGEFLIX</h1>
        <h5>Welcome <span class="member-name"></span></h5>
        <p class="lead">Tell us what you think!</p>
      </div>
    </div>
        <hr />
        <div class="row">
          <div class="col-md-3 sidenav text-left">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="../views/reviews.html">The Reviews Are</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/myreviews.html">My TV Reviews</a>
              </li>
              <li class="nav-item">
                <!-- <a class="nav-link" href="../views/following.html">Favorite TV Reviews</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="../views/create.html">Create TV Reviews</a>
              </li>
            </ul>
          </div>
          <div class="col-md-9 contents text-left"></div>
        </div>
      </div>
    </div>
    <script src="/assets/js/app.js"></script>
    <script type="text/javascript" src="/assets/js/members.js"></script>
  </body>
</html>
